<%- include('partials/header') -%>
<div id="main">
    <div class="inner">
        <img src="<%= service.images %>" style="max-width: 600px; max-height: 600px;"/>
            <h1><%= service.title %></h1>
            <p><%= service.description %></p>
            <p><%= service.description2 %></p>
    </div>
</div>
    <%- include('partials/footer') -%>
